.submit-new-deploy-record-button {
    display: block;
    width: 70%;
    margin: 0 auto 50px;

}
.deployRecords {
    margin-top: 0;
}

.form-control {
    opacity: 0.3;
    color: black;
    border: solid 2px black;
    border-radius: 13px;
    margin: 30px 0 5px 0;
}

.date-field {
    margin-top: 0;
}

.form-control::placeholder {
    color: black !important;
}

.form-control:focus {
    opacity: 0.6;
    color: black;
}

h6 {
    opacity: 0.6;
    margin-top: 20px;
    margin-left: 5px;
}

.display-6 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.form-control:hover {
    background-color: #00B0F0;
}

.invalid-feedback {
    color: red;
    font-size: 12px;
    margin-top: 0;
}